* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: linear-gradient(to bottom right, #9ca3db, #677db7);
  display: flex;
  flex-direction: column;
  align-items: center;
}
